
.input-params{
    position: relative;
    overflow: hidden;
    height: 0;
    .inner{
        position: relative; top:-100%;
        .inner-wrapper{
            margin-top:10px;
            background-color: rgba(0, 0, 0, .02);
            padding:15px;
        }
    }
    &.on{
        overflow:visible; height: auto;
        .inner{
        position: relative; top:0;
        }
    }
}