<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="main">
        <div class="container mhi">
            <div class="row align-items-center justify-content-center mhi text-center">
                <div class="col-12 col-sm-8">
                    <h1 class="extrabold">404 Page not found</h1>
                    <p>Culpa mollit sunt nulla non qui sint laborum veniam do eu qui.</p>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>